<% 
    var tuoi=15;
%>

<% if(tuoi > 18) { %>
    <h2> Bajn dytuoi </h2>

<% }else{ %>
    <h2> Bajn chua du tuoi </h2>
<% } %>


<% for(var i=1 ; i <=5 ; i++){ %>
        <h3> Nodejs khoapgham - <%= i %></h3>
<% } %>

<h1><%= hoten %></h1>