<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<script src="jquery.js"></script>
<script src="https://thanhkma.herokuapp.com/socket.io/socket.io.js"></script>
<script src="/xuly.js"></script> 
<!-- chus y file js xuly phai dat sau scrip socket.io -->
 
<body>
    <div id="wrapper">
       <h1>welcom to thanhkma</h1>
       <a href="/login"><button type="button" value="Login">Login</button></a>
    </div>
</body>
</html>