<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<script src="jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/xuly.js"></script> 
<!-- chus y file js xuly phai dat sau scrip socket.io -->
 
<body>
    <div class="wrapper">
        <input type="text" id="textroom" />
        <input type="button" id="btnTaoRoom" value="Tao Room Chat">
        <h4 id="roomhientai">....</h4>
        <div class="room">
            <div id="left">
                <h3>Room dang co</h3>
                <div id="dsroom"></div>
            </div>
         
            <div id="right">
                 
            </div>
           
        </div>
        <input type="text" id="textmessage">
        <input type="button" id="btnchat" value="CHat">
    </div>
</body>
</html>